html {
    min-width: 320px;
    margin: 0 auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
  }
  
  body {
    background-color: #292929;
    width: 100%;
    color: black;
    margin: 0 auto;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 10px;
    align-items: center;
    align-content: center;
    }
  
  
  nav {
    width: 50%;
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    
  }
  
  .nav-item {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    color: rgba(225, 188, 142, 0.7);
    transition: 0.6s all ease;
    position: relative;
    z-index: 2;
    border-radius: 13px;
    cursor: pointer;
    font-size: 17px;
  }

  .footer-link {
    text-decoration: none;
    transition: color 0.5s;
    list-style-type: none;
    color: #fff;
    cursor: pointer;
  }
  
  .nav-item.is-active{
    color: #F9B208;
  }
  
  .footer-link:hover,
  .play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
    transition: 1s;
  }

  .nav-list img { width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: -9px;
  position: absolute;
  top: 0;
  left: 0;
  }
  
  main {
    background-image: url(./assets/waves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
  }
  
  main.rain {
    background-image: url(./assets/rain.jpg);
  }
  
  main.birds {
    background-image: url(./assets/birds.jpg);
  }
  main.waves {
    background-image: url(./assets/waves.jpg);
  }
  main.thunder {
    background-image: url(./assets/thunder.jpg);
  }
  main.cat {
    background-image: url(./assets/cat.jpg);
  }
  main.river {
    background-image: url(./assets/river.jpg);
  }
  
  
  .play {
    background-image: url(./assets/icons8-play-button-100.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.9s;
    color: #F9B208;
  }
  
  .play.is-active {
    background-image: url(./assets/icons8-pause-button-100.png);
    transition: 0.9s;
    color: #F9B208;
  }
  
  .footer-data {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    color: #fff;
    font-size: 15px;
  }
  
  .footer-item {
    justify-content: flex-end;
  }
  
  .footer-link > img {
    width: 50px;
    height: 50px;
  }